* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

h1,
h2 {
  margin-bottom: 2rem;
}

ul {
  list-style: none;
}

img {
  width: 150px;
  height: 150px;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  padding: 2rem;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

main {
  position: relative;
}
/* player section */

.player-section {
  display: none;
}

.player-options {
  display: flex;
  max-width: 700px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  gap: 2rem;
}

.player-options li {
  flex: 1;
  width: 60%;
  border-radius: 10%;
  border: 2px solid red;
  padding: 1rem;
}

@media (min-width: 600px) {
  .player-options {
    flex-direction: row;
  }
}

/* computer section */

.computer-section {
  display: none;
}

.computer-options {
  display: none;
}

@media (min-width: 600px) {
  .computer-options img {
    width: 200px;
  }
}

/* Play button */
.button {
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: violet;
}

/* Footer section */
footer {
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  color: white;
  padding: 2rem;
}
