* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-black: #2d3047;
  --clr-grey: #6e8898;
  --clr-white: #f5f3f5;
  --clr-accent: #d44d5c;
  --clr-green: #5efc6d;

  --font-large: 3rem;
  --font-medium: 2rem;
  --font-small: 1.5rem;
  --font-xs: 0.8rem;
}

body {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--clr-black);
  color: var(--clr-white);
}

h1 {
  font-size: var(--font-large);
}

h1,
h2 {
  margin-bottom: 2rem;
}

ul {
  list-style: none;
}

img {
  width: 150px;
  height: 150px;
}

a {
  text-decoration: none;
  color: var(--clr-white);
}

li {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
  border-radius: 10%;
  border: 2px solid var(--clr-green);
  padding: 1rem;
  background-color: var(--clr-grey);
  transition: all 0.4s linear;
}

li:hover,
li:focus {
  background-color: var(--clr-black);
  border-color: var(--clr-accent);
  transform: scale(1.1);
}

.container {
  padding: 1rem;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

/* player section */

.player-section {
  display: none;
  /* display: none;
  transform: translateY(-700%);
  transition: transform 5s; */
}

.player-section p {
  margin-bottom: 1.5rem;
}

.player-options {
  display: flex;
  max-width: 750px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  gap: 2rem;
}

@media (min-width: 600px) {
  .player-section {
    margin-top: 5rem;
  }

  .player-section h2 {
    font-size: var(--font-medium);
  }

  .player-section p {
    font-size: var(--font-small);
  }

  .player-options {
    margin-top: 5rem;
    flex-direction: row;
  }

  .player-options li {
    flex-direction: column;
  }
}

/* computer section */

.computer-section {
  margin-top: 5rem;
  display: none;
}

.computer-options {
  /* display: none; */

  max-width: 300px;
  margin: 0 auto;
  padding: 1rem 0;
}

.computer-options li {
  display: none;
}

@media (min-width: 600px) {
  .computer-options img {
    width: 200px;
  }

  .computer-options li {
    flex-direction: column;
  }
}

/* Play section */

.play-section {
  display: none;
  margin: 5rem auto;
  /* transform: translateY(-600%);
  transition: transform 0.8s; */
}

.play-section input {
  display: block;
  margin: 0 auto;
  padding: 1rem;
  max-width: 300px;
  width: 100%;
  transition: 0.5s;
  border-radius: 0.5rem;
  outline: none;
}

.play-section input:focus {
  border-color: var(--clr-green);
}

.play-section input::placeholder {
  color: var(--clr-grey);
}

.button {
  border: none;

  border-radius: 0.5rem;
  padding: 1rem 5rem;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--clr-accent);
  color: var(--clr-white);
  margin-top: 2rem;
  box-shadow: 0 0 10px var(--clr-grey);
  transition: 0.3s;
  outline: none;
  cursor: pointer;
  /* display: none; */
}

.button:hover,
.button:focus {
  background-color: var(--clr-green);
  box-shadow: 0 0 20px var(--clr-grey);
  color: var(--clr-black);
}

@media (min-width: 600px) {
  .button {
    padding: 1rem 3rem;
  }
}

/* Footer section */
footer {
  font-size: var(--font-xs);
  letter-spacing: 2px;
  margin-top: auto;
  padding: 1rem 0;
}

footer a {
  font-weight: 700;
}

@keyframes slidein {
  0% {
    opacity: 0;
    transform: translateY(-500%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.show {
  animation: slidein 0.5s linear;
  display: block;
}
